
.banner {
  padding: 50% 0 20%;
  color: white;
  background-size: cover;
  background-position: 80%;
  h1 {
    font-size: 6rem;
    margin: 0;
    color: $light-blue;
  }
  h2 {
    margin: 0;
  }
  @media(min-width: 768px) {
    padding: 20% 0 10%;
  }
    @media(min-width: 1200px) {
        padding: 15% 0 8%;
    }
}