.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

.row {
  @media(min-width: 768px) {
    display: flex;
    .column {
      flex: 1;
      &:nth-child(2n) {
        padding-left: 4rem;
      }
    }
    &-reverse {
      flex-direction: row-reverse;
      .column{
        &:first-child {
          text-align: right;
        }
        &:nth-child(2n) {
          padding-right: 2rem;
          padding-left: 0;
        }
      }
    }
  }
}

.content-section {
  border-top: solid 1px #eee;
  padding: 20% 0;
  @media(min-width: 768px) {
    padding: 10% 0;
  }

  font-size: 1.2rem;
  line-height: 2rem;

  @media(min-width: 768px) {
      padding: 7% 0;
  }

  @media(min-width: 1200px) {
      padding: 5% 0;
  }
  &.dark {
  background: $dark-blue;
  color: $white;
    h1 {
      color: $light-blue;
      font-weight: bold;
    }
  }
}


