.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

.banner {
  padding: 10% 0;
  color: white;
  background-size: cover;
}

.content-section {
  border-top: solid 1px #eee;
  padding: 50px 0;

  &.dark {
  background: $dark-blue;
  color: $white;
    h1, h2 {
      color: $light-blue;
      font-weight: bold;
    }
  }
}

.footer {
  padding: 2rem 0;
  background: $dark-blue;
  color: $white;
  box-shadow: 0 -1px 0 0 #000000, 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-top: solid 1px rgba(14, 94, 156, 0.65);
}
