.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

.banner {
  padding: 10% 0;
  color: white;
  background-size: cover;
}

.content-section {
  border-top: solid 1px #eee;
  padding: 50px 0;
}