body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin: .5rem 0 1em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}